<!--///////////////////////////////////////////////////////Banner-Section//////////////////////////////////////-->
	<div class="banner-section">
		<div class="banner-text-wrap">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h2 class="about-banner-header">Who We Are</h2>
				<p class="about-banner-text-slogan"> Who, What, When, Where, Why!</p>
			</div>
		</div>
	</div><!-- end of banner section -->