<!--///////////////////////////////////////////////////////Banner-Section//////////////////////////////////////-->
	<div class="banner-section">
		<div class="banner-bg-image"></div>
		<div class="banner-text-wrap">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h2 class="about-banner-header">We are Blocktrepreneur</h2>
				<div class="social-box">
					<span class="fa fa-facebook" id="sm"aria -hidden="true">
						<span class="fa fa-twitter" id="sm" aria -hidden="true">
							<span class="fa fa-soundcloud" id="sm" aria -hidden="true">
								<span class="fa fa-newspaper-o" id="sm" aria -hidden="true">
				</div>
			</div>
		</div>
	</div><!-- end of banner section -->

	<div class="about-section"><!-- About section starts-->
		<div class="container">
			<div class="row"><!-- start of first row -->
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="first-about-block">
					<p class="about-us-description"><strong>Welcome</strong>  to Blocktrepreneur Worldwide! Whether you have been mining for years or this is the first time you’ve heard of decentralized, distributed computing, this is your home! 
					Blocktrepreneur Worldwide is the leading network of blockchain entrepreneurs. We are a group of like-minded and determined individuals, all sharing a vision for success. We believe that our sophisticated blockchain technologies have the potential to become industry sensations and dramatically disrupt the global community. We set out to change the world as we know it, and we are doing just that.

					The Blocktrepreneur is the leading group of cutting-edge innovators working on technologies and services, offering scalable solutions for companies of all sizes. Founded by a group of friends who started by scribbling their ideas on a piece of paper, today we offer smart, innovative worldwide network.

					With our international network, we are thrilled to bring you live interviews and insights from the movers and shakers in crypto, tokens, and all things blockchain. Our goal is to educate, exhilarate, and collaborate with entrepreneurs and blockchain enthusiasts around the world. 
					<h2 class="sign-on">Join us and become a Blocktrepreneur!</h2 </p>
				</div>
			</div>
		</div>
	</div>