<!--///////////////////////////////////////////////////////Banner-Section//////////////////////////////////////-->
	<div class="banner-section">
		<div class="banner-bg-image"></div>
			<div class="banner-text-wrap">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<h2 class="about-banner-header">We are Blocktrepreneur</h2>
				<div class="social-box">
					<span class="fa fa-facebook" id="sm"aria -hidden="true"></span>
						<span class="fa fa-twitter" id="sm" aria -hidden="true"></span>
							<span class="fa fa-soundcloud" id="sm" aria -hidden="true"></span>
								<span class="fa fa-linkedin" id="sm" aria -hidden="true"></span>
				</div>
			</div>
		</div>
	</div><!-- end of banner section -->

		<div class="about-section-1"><!-- About section starts-->
			<div class="row"><!-- start of first row -->
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="first-about-block">
					<p class="about-us-description"><strong>Welcome</strong>  to Blocktrepreneur Worldwide! Whether you have been mining for years or this is the first time you’ve heard of decentralized, distributed computing, this is your home! 
					Blocktrepreneur Worldwide is the leading network of blockchain entrepreneurs. We are a group of like-minded and determined individuals, all sharing a vision for success. We believe that our sophisticated blockchain technologies have the potential to become industry sensations and dramatically disrupt the global community. We set out to change the world as we know it, and we are doing just that.</p>

					<p class="about-us-description">The Blocktrepreneur is the leading group of cutting-edge innovators working on technologies and services, offering scalable solutions for companies of all sizes. Founded by a group of friends who started by scribbling their ideas on a piece of paper, today we offer smart, innovative worldwide network.</p>

					<p class="about-us-description">With our international network, we are thrilled to bring you live interviews and insights from the movers and shakers in crypto, tokens, and all things blockchain. Our goal is to educate, exhilarate, and collaborate with entrepreneurs and blockchain enthusiasts around the world. 
					<h2 class="sign-on">Join us and become a Blocktrepreneur!</h2></p>
				</div>
			</div>
		
																		<div class="underline"></div>
							<br>
							<br>
							<br>	


		
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="second-about-block">
						<%= image_tag "Ben.jpg", class: "co-duos" %>	
						<h4 class="team-name-header">Ben Chodor</h4> 
						<p class="co-duo-description">Ben Chordor was Co-Founder & CEO of Happtique, a digital health marketplace, Founder of Stream57, and former Global Head of Streaming & Virtual Events at InterCall. Happtique was a joint venture with the Hospital Association of Greater New York and was acquired in 2014. Ben has spent his career pioneering online communications through interactive and streaming content, and founded Stream57 on his wealth of experience merging the healthcare, pharmaceutical, video and technology fields. After selling his company to the InterCall family in December 2009, Ben led the development arm of the company with his energetic & incomparable passion for technology.</p>

						<p class="co-duo-description">A highly sought after mHealth, Technology & Streaming Media speaker and moderator, Ben has presented at major conferences around the world and has had the honor of testifying before the United States Congress. Ben hosted mHealth Zone Live, (www.mhealthzone.com) a weekly radio show that showcases the latest on mHealth apps and technology. Launched in 2012, mHealth Zone Live has had over one million listeners and was a top 300 show on Blogtalkradio. Ben is proud to serve as a mentor w/Blueprint Health a startup accelerator in NYC & as an investor and Board Member for Sherpa Digital Media, investor and co-founder of www.Clopsi.com, Advisor with ReliefBand, and  contributor at Entrepreneur Magazine.</p>

						<p class="co-duo-description">In addition to Blocktrepreneur TV, Ben is the founder and anchor of HealthTech Talk Live Show, which is broadcasted live weekly on iHeart Radio / Clear Channel nationwide from 640 WGST AM. The show is now syndicated globally. Ben co-hosts interviews with front-page emerging Health Tech innovators and titans about the latest in digital health technology, human ingenuity, bio-tech medical advancements and health tech capital market trends. Learn how the experts use risk management techniques and clinical trials to build fully diversified portfolios and what it takes to put up big board earnings from making people healthier. It's a fast moving, high-energy show where listeners shift their thinking as the hosts deliver "tomorrow's ideas today."</p>

						<p class="co-duo-description">As a blockchain enthusiast and cryptocurrency investor, Ben is excited to bring his excitement and energy to Blocktrepreneur TV.</p>
				</div>
			</div>
						
																		<div class="underline"></div>
																		<div class="arrow"></div>
						<br>
						<br>
						<br>
				
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="second-about-block">
						<%= image_tag "Adi.jpg", class: "co-duos" %>	
						<h4 class="team-name-header">Adi Segal</h4> 
						<p class="co-duo-description">Adi Segal is the Cofounder & CEO of SeeThru, a blockchain healthcare ecosystem focusing on price transparency and value-based purchasing worldwide. He founded the company after leaving medical school. Adi also works at Genoa Telepsychiatry, a healthtech startup and the nation’s largest provider of outpatient telepsychiatry. Prior to launching SeeThru, Adi served as COO of DN Telehealth and completed a term as Entrepreneur in Residence at Mount Sinai’s Icahn School of Medicine, where he helped spin off a mobile healthcare platform. A graduate of Columbia University, Adi began his career working on healthcare economics and access to care issues at The Leukemia & Lymphoma Society. He brings a unique blend of experience from urban studies, experiential education, outdoor adventure leadership and teambuilding, environmental advocacy, and Emergency Medical Services. 
 
						<p class="co-duo-description">Adi’s journalism career began over a decade ago when he first served as editor-in-chief of his high school newspaper. Since then, Adi has published research articles and opinion pieces across multiple disciplines in various publications. He has also been featured in live TV news interviews, print articles, and podcasts. Adi is ecstatic about this next step in his broadcasting journey.</p> 

						<p class="co-duo-description">The Blocktrepreneur Network is Adi’s brainchild. When Ben suggested that they launch a live TV show, Adi was sold immediately. After years of collaboration it was once again a match made in heaven! </p>
				</div>
			</div>
		</div>