<!--///////////////////////////////////////////////////////Banner-Section//////////////////////////////////////-->
	<div class="banner-section">
		<div class="banner-bg-image"></div>
		<div class="banner-text-wrap">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h2 class="about-banner-header">We are Blocktrepreneur</h2>
				<div class="social-box">
					<span class="fa fa-facebook" id="sm"aria -hidden="true">
						<span class="fa fa-twitter" id="sm" aria -hidden="true">
							<span class="fa fa-soundcloud" id="sm" aria -hidden="true">
								<span class="fa fa-newspaper-o" id="sm" aria -hidden="true">
				</div>
			</div>
		</div>
	</div><!-- end of banner section -->