
	<div class="banner-section">
		
		<!--<div class="banner-text-wrap">
			<h2 class="banner-header">The Home for Blockchain Entrepreneurs</h2>
			<p class="banner-text-slogan"> Interviewing the movers and the shakers in block chain, tokens, and all things crypto.</p>
		</div>-->
	</div><!-- end of banner section -->

