<!--///////////////////////////////////////////////////////Banner-Section//////////////////////////////////////-->

		<!-- Carousel start -->
<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="8000" id="bs-carousel">
 
 <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
  </ol>
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div>
      	<div class="hero">
        <hgroup>
            <h1 class="big-name">Live Interviews</h1>        
        </hgroup>

      </div>
      
    </div>
    <div class="item slides">
      <div class="slide-2"></div>	
      	<div class="hero">
        <hgroup>
            <h1 class="big-name">Building the Blockchain</h1>        
        </hgroup>

      </div>
      
    </div>
    <div class="item slides">
      <div class="slide-3"></div>
      	<div class="hero">
        <hgroup>
            <h1 class="big-name">Block Parties</h1>        
            <h3>and Education Events</h3>
        </hgroup>

      </div>
     
    </div>
  </div> 
</div> <!-- carousel stops -->

<!--///////////////////////////////////////////////////////single-block-Section//////////////////////////////////////
	<div class="single-block">
	</div>
///////////////////////////////////////////////////////list-Section//////////////////////////////////////-->

<div class="list-section">

	<div class="row"><!-- start of first row -->
		<div class="container">
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" id="big-blocks">
				<div class="list-block-special">
					<h4 class="list-block-header">The Home for Blockchain Entrepreneurs</h4>
					<p class="list-block-text">Interviewing the movers and shakers in crypto, tokens, and all things blockchain. </p>
					<p class="list-block-text">Upcoming Shows: <%= image_tag "arrow.png", class: "arrow-pic" %></p>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" id="big-blocks">
				<div class="list-block">
					<div class="image-block">
					<div class="bg-image-1"></div>
					<p class="list-block-text-1">The team that invented the JP Morgan Blockchain</p>
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" id="big-blocks">
				<div class="list-block">
					<div class="image-block">
					<div class="bg-image-2"></div>
					<p class="list-block-text-1"> Women Founders and successful ICOs</p>
					</div>
					</div>
				</div>
			</div>
		</div>
	

	<div class="row"><!-- start of first row -->
		<div class="container">
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" id="big-blocks">
				<div class="list-block">
					<div class="image-block">
						<div class="bg-image-3"></div>
						<p class="list-block-text-1">Internet Entrepreneur Tech VC Crypto Evangelist </p>
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" id="big-blocks">
				<div class="list-block">
					<div class="image-block">
					<div class="bg-image-4"></div>
					<p class="list-block-text-1">The first doctor to accept Bitcoin</p>
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" id="big-blocks">
				<div class="list-block">
					<div class="image-block">
					<div class="bg-image-5"></div>
					<p class="list-block-text-1">NYC’s best Crypto Economist</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row"><!-- start of first row -->
		<div class="container">
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" id="big-blocks">
				<div class="list-block">
					<div class="image-block">
					<div class="bg-image-6"></div>
					<p class="list-block-text-1">Governance for a Post Nation-State world. For everyone, anywhere</p>
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" id="big-blocks">
				<div class="list-block">
					<div class="image-block">
					<div class="bg-image-7"></div>
					<p class="list-block-text-1">Hospital hanging Care Delivery</p>
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" id="big-blocks">
				<div class="list-block">
					<div class="image-block">
					<div class="bg-image-8"></div>
					<p class="list-block-text-1">Founder of the NYC Cypto Movement & Member of The Ethereum Project</p>
				</div>
				</div>
			</div>
		</div>
	</div>

	


</div><!-- end of list section -->