<!--///////////////////////////////////////////////////////Banner-Section//////////////////////////////////////-->

		<!-- Carousel start -->
<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="3000" id="bs-carousel">
 

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
  </ol>
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div>
      	<div class="hero">
        <hgroup>
            <h1>Live Interviews</h1>        
        </hgroup>

      </div>
      
    </div>
    <div class="item slides">
      <div class="slide-2"></div>	
      	<div class="hero">
        <hgroup>
            <h1>Building the Blockchain</h1>        
            <h3>Finance, healthcare, law, and social good</h3>
        </hgroup>

      </div>
      
    </div>
    <div class="item slides">
      <div class="slide-3"></div>
      	<div class="hero">
        <hgroup>
            <h1>Block Parties</h1>        
            <h3>Join us at our upcoming networking</h3>
        </hgroup>

      </div>
     
    </div>
  </div> 
</div> <!-- carousel stops -->

<!--///////////////////////////////////////////////////////single-block-Section//////////////////////////////////////-->
	<div class="single-block">
	</div>
<!--///////////////////////////////////////////////////////list-Section//////////////////////////////////////-->

<div class="list-section">

	<div class="row"><!-- start of first row -->
		<div class="container">
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" id="big-blocks">
				<div class="list-block">
					<h4 class="list-block-header">The Home for Blockchain Entrepreneurs</h4>
					<p class="list-block-text">Interviewing the movers and the shakers in crypto, tokens, and all things blockchain. </p>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" id="big-blocks">
				<div class="list-block">
					<h4 class="list-block-header"> Image</h4>
					<p class="list-block-text"> Text</p>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" id="big-blocks">
				<div class="list-block">
					<h4 class="list-block-header">Image</h4>
					<p class="list-block-text">Text</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row"><!-- start of first row -->
		<div class="container">
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" id="big-blocks">
				<div class="list-block">
					<h4 class="list-block-header">Image</h4>
					<p class="list-block-text">Text</p>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" id="big-blocks">
				<div class="list-block">
					<h4 class="list-block-header"> Image</h4>
					<p class="list-block-text"> Text</p>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" id="big-blocks">
				<div class="list-block">
					<h4 class="list-block-header">Image</h4>
					<p class="list-block-text">Text</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row"><!-- start of first row -->
		<div class="container">
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" id="big-blocks">
				<div class="list-block">
					<h4 class="list-block-header">Image</h4>
					<p class="list-block-text">Text</p>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" id="big-blocks">
				<div class="list-block">
					<h4 class="list-block-header"> Image</h4>
					<p class="list-block-text"> Text</p>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" id="big-blocks">
				<div class="list-block">
					<h4 class="list-block-header">Image</h4>
					<p class="list-block-text">Text</p>
				</div>
			</div>
		</div>
	</div>

	


</div><!-- end of list section -->