<!--///////////////////////////////////////////////////////Banner-Section//////////////////////////////////////-->

		<!-- Carousel start -->
<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="3000" id="bs-carousel">
 

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
  </ol>
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div>
      
    </div>
    <div class="item slides">
      <div class="slide-2"></div>
      
    </div>
    <div class="item slides">
      <div class="slide-3"></div>
     
    </div>
  </div> 
</div> <!-- carousel stops -->

<div class="banner-text-wrap">	
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
		<h1 class="banner-header">The Home for</h1> 
		<h1 class="banner-header">Blockchain Entrepreneurs</h1>
		<p class="banner-text-slogan"> Interviewing the movers and the shakers in block chain, tokens, and all things crypto.</p>
	</div>
</div>

<!--///////////////////////////////////////////////////////list-Section//////////////////////////////////////-->

<div class="list-section">

	<div class="row"><!-- start of first row -->
		<div class="container">
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" id="big-blocks">
				<div class="list-block">
					<h4 class="list-block-header">Some Content</h4>
					<p class="list-block-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna.</p>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" id="big-blocks">
				<div class="list-block">
					<h4 class="list-block-header">Some Content</h4>
					<p class="list-block-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna.</p>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" id="big-blocks">
				<div class="list-block">
					<h4 class="list-block-header">Some Content</h4>
					<p class="list-block-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row"><!-- start of second row -->
		<div class="container">
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" id="big-blocks">
				<div class="list-block">
					<h4 class="list-block-header">Some Content</h4>
					<p class="list-block-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna.</p>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" id="big-blocks">
				<div class="list-block">
					<h4 class="list-block-header">Some Content</h4>
					<p class="list-block-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna.</p>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" id="big-blocks">
				<div class="list-block">
					<h4 class="list-block-header">Some Content</h4>
					<p class="list-block-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row"><!-- start of third row -->
		<div class="container">
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" id="big-blocks">
				<div class="list-block">
					<h4 class="list-block-header">Some Content</h4>
					<p class="list-block-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna.</p>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" id="big-blocks">
				<div class="list-block">
					<h4 class="list-block-header">Some Content</h4>
					<p class="list-block-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna.</p>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" id="big-blocks">
				<div class="list-block">
					<h4 class="list-block-header">Some Content</h4>
					<p class="list-block-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna.</p>
				</div>
			</div>
		</div>
	</div>



</div><!-- end of list section -->