

.banner-bg-image{
	height: 275px;
	background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.banner-bg-image{
  background-image: url(https://static.pexels.com/photos/8892/pexels-photo.jpg);
}


.about-banner-header{
	color: white;
	letter-spacing: 8px;
	font-weight: 300;
	font-size: 35px;
}


.social-box{
	margin-top: 20px;
}

#sm{
	font-size: 25px;
	color: white;

}