

.banner-bg-image{
	height: 275px;
	background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.banner-bg-image{
  background-image: url(https://static.pexels.com/photos/8892/pexels-photo.jpg);
}


.about-banner-header{
	color: white;
	letter-spacing: 3px;
	font-size: 35px;
}


.social-box{
	margin-top: 20px;
}

#sm{
	font-size: 25px;
	color: white;

}



.about-section-1{
	height: auto;
	background-color: #00695C;
}

strong{
	font-size: 40px;
}

.about-us-description{
	color: white;	
	letter-spacing: 1px;
	text-indent: 30px;
	line-height: 30px;
	font-size: 20px;
	padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
}



@media (max-width: 979px) {
	#first-about-block{
		padding: 0px;
	}
}


@media (max-width: 979px) {
	.about-us-description{
		padding: 25px;
		line-height: normal;
		text-indent: 0px;
		font-size: 20px;
	}
}

.sign-on{
	text-align: center;
  color: white;
  font-style: oblique;
  margin-bottom: 50px;
}

.underline{
		width: 70%;
    border: solid 1px white;
    margin-left: auto;
    margin-right: auto;
}


#second-about-block{
	text-align: center;

}

@media (max-width: 979px) {
	#second-about-block{
		padding: 0px;
	}
}


.co-duos{
	width: 25%;
  border-radius: 40px;
}

.team-name-header{
	font-size: 30px;
	color: white;
	text-align: center;
}

.co-duo-description{
		color: white;
    text-align: left;
    text-indent: 35px;
    font-size: 20px;
    font-weight: 400;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

@media (max-width: 979px) {
	.co-duo-description{
		padding: 25px;
		line-height: normal;
		text-indent: 0px;
		font-size: 20px;
	
	}
}






