// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/******************************************** Banner / Carousel Section **************************************************/

.banner-section{
	width: 100%;
	height: 300px;
	background-color: #00695C;
}


.banner-text-wrap{
	height: auto;
	position: absolute;
  top: 185px;
 
}


.banner-header{
	margin-top: 0px;
	color: white;
	font-family: sans-serif;
}

.banner-text-slogan{
	font-style: italic;
	color: gold;
	font-size: 20px;
	font-weight: 200;
}
/*
Fade content bs-carousel with hero headers
Code snippet by maridlcrmn (Follow me on Twitter @maridlcrmn) for Bootsnipp.com
Image credits: unsplash.com
*/

/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: relative;
    height: 50vh;
}
.fade-carousel .carousel-inner .item {
    height: 50vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: white;
    border-color: white;
    opacity: .5;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1  ;
}

/********************************/
/*            Overlay           */
/********************************/

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .3; 
}


/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: white;
    letter-spacing: 10px;
    text-align: center;
    text-transform: uppercase;
    
    
      transform: translate(-50%, -50%);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 1;
    
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
        
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: white;
    border-color: white;
    outline: none;
    margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 50vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  }


.fade-carousel .slides .slide-1 {
  background-image: url(https://static.pexels.com/photos/24069/pexels-photo-24069.jpg); 
}
.fade-carousel .slides .slide-2 {
  background-image: url(https://static.pexels.com/photos/7097/people-coffee-tea-meeting.jpg);
}
.fade-carousel .slides .slide-3 {
  background-image: url(https://static.pexels.com/photos/154147/pexels-photo-154147.jpeg);
}

/*-------------------How to put ruby urls in background images---------------------------------------------------

<%= image_tag "http://www.example.com/library/example.jpeg" %>

That'll work, since it's really just gonna convert to this:

<img src="http://www.example.com/library/example.jpeg">

So you could use either, they're the same thing.
------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------ single block section---------------------------------------------------------------------*/




.single-block{
  height: 200px;
  width: 100%;
  background-color: teal;

}




/*************************************** List Section ******************************************************************/

.arrow-pic{
  height: 50px;
}

@media (max-width: 979px) {
  .arrow-pic{
    visibility: hidden;
  }
}


.list-section{
	height: auto;
	width: 100%;
	background-color: white;
}

#big-blocks{
	padding: 0px;
}

.list-block-header{
  font-size: 31px;
  color: black;
  margin-left: 20px;
  margin-top: 20px;
}

.list-block-text{
  margin-top: 20px;
  margin-left: 20px;
  color: black;
  font-size: 18px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
}

.list-block-special{
  height: 275px;
  background-color: white;
  overflow: hidden;

}


.list-block{
	height: 275px;
	background-color: black;
  overflow: hidden;

  
}



.list-block-text-1{
	color: #fff;
  font-size: 24px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  padding: 20px;
  transition: .5s;
  z-index: 1;
  text-align: center;
  opacity: 1;
  
} 

.list-block-text-1 p{
  color: #fff;
}





.image-block:hover .list-block-text-1{
  opacity: 1;
}

.list-block-text-1:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transition: .5s;
  transform: scale(0,1);
  color: #fff;
}

.image-block:hover .list-block-text-1:before {
  transform: scale(1,1);
}


.list-block-text-1:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  transition: .5s;
  transform: scale(1,0);
  color: #fff;

}

.image-block:hover .list-block-text-1:after {
  transform: scale(1,1);
}




.image-block{
  transition: 0.5s;
  
}

.image-block:hover,
.bg-image-1,
.bg-image-2,
.bg-image-3,
.bg-image-4,
.bg-image-5,
.bg-image-6,
.bg-image-7,
.bg-image-8 {
  transform: rotate(-10deg) scale(1.2);
  opacity: .5;
  
} 



.bg-image-1,
.bg-image-2,
.bg-image-3,
.bg-image-4,
.bg-image-5,
.bg-image-6,
.bg-image-7,
.bg-image-8,{
  height: 275px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


.bg-image-1{
  background-image: url(https://static.pexels.com/photos/186461/pexels-photo-186461.jpeg);
}

.bg-image-2{
  background-image: url(https://static.pexels.com/photos/265036/pexels-photo-265036.jpeg);
}

.bg-image-3{
  background-image: url(https://static.pexels.com/photos/213117/pexels-photo-213117.jpeg);
}

.bg-image-4{
  background-image: url(https://static.pexels.com/photos/42273/doctor-medical-medicine-health-42273.jpeg);
}

.bg-image-5{
  background-image: url(https://static.pexels.com/photos/66134/pexels-photo-66134.jpeg);
}

.bg-image-6{
  background-image: url(https://static.pexels.com/photos/443383/pexels-photo-443383.jpeg);
}

.bg-image-7{
  background-image: url(https://static.pexels.com/photos/261949/pexels-photo-261949.jpeg);
}

.bg-image-8{
  background-image: url(https://static.pexels.com/photos/59519/pexels-photo-59519.jpeg);
}










